@use "@/assets/styles/variables.scss" as nav;

.product__container {
  padding: 40px;
  background-color: #fffff1;
  width: 100%;
  .container__box {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 1440px;
    margin: 0 auto;
    .links {
      display: flex;
      align-items: center;
      padding-bottom: 40px;
      .link {
        border: 1px solid #dddddd;
        color: #424436;
        padding: 5px 10px;
        border-radius: 7px;
      }
      .link__main {
        border: 1px solid #dddddd;
        color: #8b8b8b;
        padding: 5px 10px;
        border-radius: 7px;
      }
      .feature {
        border-bottom: 1px solid #dddddd;
        width: 16px;
      }
    }
    .item__box {
      .title__heart-480 {
        display: none;
      }
      .product__box {
        display: flex;
        gap: 32px;
        .product__img {
          width: 780px;
          height: 572px;
          border-radius: 12px;
        }
        .info__container {
          display: flex;
          flex-direction: column;
          gap: 32px;
          padding: 10px;
          .title__heart {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
              font-size: 40px;
              font-weight: 700;
            }
            .heart {
              width: 48px;
              height: 38px;
            }
          }
          .price__container {
            display: flex;
            align-items: center;
            gap: 32px;
            .price {
              font-size: 64px;
              font-weight: 700;
            }
            .discount__price {
              text-decoration: line-through;
              font-size: 20px;
              color: #8b8b8b;
              margin-top: 18px;
            }
            .sale {
              width: 63px;
              padding: 4px 8px;
              border: none;
              background-color: nav.$color-light-3;
              color: #fff;
              border-radius: 5px;
              text-align: center;
              margin-bottom: 20px;
            }
          }
          .counter__container {
            display: flex;
            .counter__box {
              display: flex;
              align-items: center;
              border: 1px solid #dddddd;
              border-radius: 5px;
              width: 164px;
              height: 58px;
              justify-content: space-between;
              font-size: 20px;
              font-weight: 600;
              .counter__btn {
                height: 58px;
                padding: 8px 15px;
                background-color: transparent;
                border: 1px solid #dddddd;
                border-radius: 5px;
                font-size: 30px;
                color: #8b8b8b;
              }
            }
            .add__to {
              padding: 16px 32px;
              background-color: nav.$color-light-2;
              color: #fff;
              border: none;
              border-radius: 6px;
              margin-left: 32px;
              font-size: 20px;
              font-weight: 600;
            }
            .counter {
              width: 96px;
              height: 58px;
              border: 1px solid #dddddd;
              align-items: center;
              display: flex;
              justify-content: center;
            }
          }
          .description__container {
            max-width: 548px;
            h5 {
              font-size: 20px;
              font-weight: 600;
            }
            .description {
              -webkit-box-orient: vertical;
              font-size: 16px;
              font-weight: 400;
              color: #424436;
              overflow: hidden;
              -webkit-line-clamp: 3;
            }
            .read__more {
              font-size: 16px;
              font-weight: 500;
              color: #424436;
              text-decoration: underline;
            }
          }
        }
      }
    }
    .description__container-768 {
      display: none;
      h5 {
        font-size: 20px;
        font-weight: 600;
      }
      .description {
        -webkit-box-orient: vertical;
        font-size: 16px;
        font-weight: 400;
        color: #424436;
        overflow: hidden;
        -webkit-line-clamp: 3;
      }
      .read__more {
        font-size: 16px;
        font-weight: 500;
        color: #424436;
        text-decoration: underline;
      }
    }
    @media (max-width: 1000px) {
      .item__box {
        .product__box {
          .product__img {
            width: 470px;
            height: 572px;
          }
          .info__container {
            .price__container {
              gap: 20px;
            }
          }
          .description__container {
            .description {
              max-width: 370px;
            }
          }
        }
      }
    }
    @media (max-width: 768px) {
      .item__box {
        .product__box {
          display: flex;
          align-items: center;
          .product__img {
            width: 354px;
            height: 286px;
          }
          .info__container {
            gap: 10px;
            .title__heart {
              .title {
                font-size: 32px;
                max-width: 286px;
              }
              .heart {
                margin-right: -30px;
              }
            }
            .price__container {
              gap: 20px;
            }
            .counter__container {
              flex-direction: column;
              gap: 20px;
              .add__to {
                margin-left: -5px;
              }
            }
            .description__container {
              display: none;
            }
          }
        }
        .description__container-768 {
          display: block;
        }
      }
    }

    @media (max-width: 480px) {
      .links {
        display: none;
      }
      .item__box {
        .title__heart-480 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .title {
            font-size: 28px;
          }
          .heart {
            width: 40px;
            height: 30px;
          }
        }
        .product__box {
          position: relative;
          margin-top: 40px;
          display: flex;
          align-items: center;

          .product__img {
            width: 210px;
            height: 179px;
          }
          .info__container {
            padding: 0;
            gap: 5px;
            .title__heart {
              display: none;
            }
            .price__container {
              gap: 20px;
              .sale {
                position: absolute;
                top: 30px;
                left: 106px;
              }
            }
            .counter__container {
              .add__to {
                padding: 12px 20px;
                text-align: center;
                font-size: 18px;
              }
            }
          }
        }
      }
      @media (max-width: 360px) {
        .item__box {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .product__box {
            flex-direction: column;
            .product__img {
              width: 320px;
              height: 220px;
            }
            .info__container {
              .title__heart {
                align-items: center;
                top: -75px;
                .title {
                  font-size: 28px;
                }
              }
              .price__container {
                justify-content: center;
                gap: 20px;
                .sale {
                  position: absolute;
                  left: 220px;
                  top: 16px;
                }
              }
              .counter__container {
                .counter__box {
                  margin-left: 70px;
                }
                .add__to {
                  width: 312px;
                }
              }
            }
          }
        }
      }
    }
  }
}
