@use "@/assets/styles/variables.scss" as nav;

.categories {
  width: 100%;

  .content {
    max-width: 1440px;
    margin: 0 auto;

    &__page-title {
      font-size: nav.$font-size-title-big;
      font-weight: nav.$font-weight-bold;
      padding: 40px 0;
      display: flex;
    }

    @media (max-width: 1000px) {
      &__page-title {
        margin-top: 32px;
      }
    }

    @media (max-width: 768px) {
      &__page-title {
        font-size: nav.$font-size-title-medium;
      }
    }

    @media (max-width: 480px) {
      &__page-title {
        font-size: nav.$font-size-title-deafult;
      }

      .breadcrumbs {
        display: none;
      }
    }

    @media (max-width: 360px) {
      &__page-title {
        font-size: nav.$font-size-title-smallest;
      }

      .breadcrumbs {
        display: none;
      }
    }
  }
}