@use "@/assets/styles/variables.scss" as nav;

.categories {
  padding: 40px 40px;
  width: 100%;
  background-color: nav.$color-light-1;

  .content {
    max-width: 1440px;
    margin: 0 auto;

    &__page-title {
      color: nav.$color-dark-2;
      font-size: nav.$font-size-title-big;
      font-weight: nav.$font-weight-bold;
      padding: 0px 10px 40px 0;
      margin-top: 40px;
      display: flex;
    }

    &__list-img {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
      gap: nav.$content-size-gap-big;
    }

    @media (max-width: 768px) {
      &__page-title {
        font-size: nav.$font-size-title-medium;
      }

      &__list-img {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        width: 100%;
        gap: nav.$content-size-gap-default;
      }

      &__title {
        font-size: nav.$font-size-title-medium;
      }
    }

    @media (max-width: 480px) {
      &__title {
        font-size: nav.$font-size-title-deafult;
      }

      &__list {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        font-size: nav.$font-size-content-default;
        line-height: 23.4px;
        gap: nav.$content-size-gap-default;
      }

      .breadcrumbs {
        display: none;
      }
    }

    @media (max-width: 360px) {
      &__title {
        font-size: nav.$font-size-title-smallest;
      }

      &__list-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        width: 100%;
        gap: nav.$content-size-gap-default;
      }

      .breadcrumbs {
        display: none;
      }
    }
  }
}
