@use "@/assets/styles/variables.scss" as nav;

.categoryCard {
  display: flex;
  flex-direction: column;
  gap: nav.$content-size-gap-large;

  &__image img {
    display: block;
    height: 350px;
    border-radius: nav.$border-radius-big;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: nav.$font-size-content-big;
    font-weight: nav.$font-weight-medium;
    line-height: 26px;
    align-items: center;
    color: nav.$color-dark-5;
    text-align: center;
  
  @media (max-width: 480px) {
    &__title {
      font-size: nav.$font-size-content-default;
      line-height: 23, 4px;
    }
  }
  @media (max-width: 360px) {
    &__title {
      font-size: nav.$font-size-title-smallest;
    }
  }
}
}
