@use "@/assets/styles/variables.scss" as nav;

.categories {
  padding: 80px 40px;
  max-width: 100%;
  background-color: nav.$color-light-1;

  .container {
    max-width: 1440px;
    &__position {
      display: flex;
      align-items: center;
     
    }

    &__btn-2 {
      text-decoration: none;
      display: none;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: nav.$content-size-gap-default;
    }

    @media (max-width: 1000px) {
      &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        gap: nav.$content-size-gap-default;
      }
    }

    @media (max-width: 768px) {
      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: nav.$content-size-gap-default;
      }
    }

    @media (max-width: 480px) {
      &__list {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: nav.$content-size-gap-default;
      }
    }

    @media (max-width: 360px) {
      &__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        width: 100%;
        gap: nav.$content-size-gap-default;
      }

      &__btn-2-position {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__btn-2 {
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: nav.$font-weight-medium;
        font-size: nav.$button-default-font-size;
        padding: nav.$button-medium-size;
        border: 1px solid nav.$color-dark-4;
        border-radius: nav.$border-radius-small;
        background-color: nav.$color-light-1;
        margin-top: 24px;
      }
    }
  }
}