@use "@/assets/styles/variables.scss" as nav;

.category {
  max-width: 100%;
  padding: 40px;

  .container {
    max-width: 1440px;
    justify-content: center;

    &__title {
      font-size: nav.$font-size-title-big;
      line-height: 70.4px;
      font-weight: nav.$font-weight-bold;
      margin-top: 20px;
      display: flex;
      padding-bottom: 40px;
    }

    &__items {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
      gap: nav.$content-size-gap-large;
    }

    @media (max-width: 1000px) {
      &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: nav.$content-size-gap-default;
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      &__title {
        font-size: nav.$font-size-title-medium;
      }

      &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: nav.$content-size-gap-default;
        width: 100%;
      }
    }

    @media (max-width: 480px) {
      &__title {
        font-size: nav.$font-size-title-deafult;
        line-height: 52.8px;
      }

      .breadcrumbs {
        &__line {
          display: none;
        }

        &-link,
        &-link-active {
          display: none;
        }
      }

      &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: nav.$content-size-gap-default;
        width: 100%;
      }
    }

    @media (max-width: 360px) {
      &__title {
        font-size: nav.$font-size-title-smallest;
        line-height: 44px;
      }

      &__line {
        display: none;
      }

      &__items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: nav.$content-size-gap-default;
      }

      &-link,
      &-link-active {
        display: none;
      }
    }
  }
}