@use "@/assets/styles/variables.scss" as nav;

.allProducts {
  width: 100%;
  padding: 40px 40px 80px 40px;

  .container {
    max-width: 1440px;
    gap: nav.$content-size-gap-large;
    margin: 0 auto;

    &__title {
      font-weight: nav.$font-weight-bold;
      font-size: nav.$font-size-title-big;
      width: 100%;
      margin: 40px 0;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding-top: 40px;
      gap: 32px;
    }

    @media (max-width: 1000px) {
      &__list {
        display: grid;
        gap: nav.$content-size-gap-default;
      }
    }

    @media (max-width: 768px) {
      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: nav.$content-size-gap-default;
      }

      &__title {
        font-size: nav.$font-size-title-medium;
      }
    }

    @media (max-width: 480px) {
      &__title {
        font-size: nav.$font-size-title-deafult;
      }

      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: nav.$content-size-gap-default;
      }

      .breadcrumbs {
        display: none;
      }
    }

    @media (max-width: 360px) {
      &__title {
        font-size: nav.$font-size-title-smallest;
      }

      &__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: nav.$content-size-gap-default;
      }

      .breadcrumbs {
        display: none;
      }
    }
  }
}
