@use "@/assets/styles/variables.scss" as nav;

@mixin fill($color) {
    background-color: $color;
}

.productCard {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 300px;
    background-color: #fff;
    margin: 10px;

    &:hover {
        transform: translateY(-5px);
    }

    &__top {
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
        }

        &-sale {
            color: white;
            background-color: orange;
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 1rem;
        }

        &-icon {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 10px;
            right: 10px;
            gap: 10px;



            &-heart,
            &-bag {
                width: 36px !important;
                height: 36px !important;
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        img {
            display: block;
            width: 100%;
            height: 200px;
            border-radius: 0;
        }
    }

    &__bottom {
        padding: 15px;

        &-title a {
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            color: #282828;
            min-height: 80px;
            display: block;

            &:hover {
                opacity: 0.7;
            }
        }

        &-price-container {
            margin-top: 10px;
            padding-right: 60px;
        }

        &-price {
            font-size: 20px;
            font-weight: 500;
            color: #8B8B8B;
            text-decoration: line-through;
            margin-right: 10px;
        }

        &-discont_price {
            font-size: 40px;
            color: #424436;
            font-weight: 600;
            padding-right: 16px;
        }
    }
}