@use "@/assets/styles/variables.scss" as nav;

@mixin fill($color) {
  background-color: nav.$color;
}

.productCard {
  border: 1px solid nav.$color-light-6;
  border-radius: nav.$item-radius-default;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: nav.$color-light-4;
 width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &:hover {
    transform: translateY(-5px);
  }

  &__top {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-sale {
      color: nav.$color-light-4;
      background-color: orange;
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: nav.$font-weight-bold;
      font-size: 1rem;
    }

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
    padding: 15px;
    border-top: 1px solid nav.$color-dark-4;

    &-title a {
      font-size: nav.$font-size-content-big;
      font-weight: nav.$font-weight-medium;
      line-height: 26px;
      color: nav.$color-dark-5;
      min-height: 60px;
      display: block;

      &:hover {
        opacity: 0.7;
      }
    }

    &-price-container {
      padding-right: 60px;
    }

    &-price1 {
      font-size: nav.$font-size-content-big;
      font-weight: nav.$font-weight-medium;
      color: nav.$color-dark-3;
      text-decoration: line-through;
      margin-right: 10px;
    }

    &-price2 {
      font-size: nav.$font-size-title-smallest;
      color: nav.$color-dark-2;
      font-weight: nav.$font-weight-default;
      padding-right: 16px;
    }

    &-discont_price {
      font-size: 40px;
      color: nav.$color-dark-2;
      font-weight: nav.$font-weight-default;
      padding-right: 16px;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 10px;
    color: black;


    &__favourite,
    &__cart {
      font-size: 36px;
      cursor: pointer;
      fill: white;

      &:hover {
        opacity: 0.7;
      }
    }

    &__favourite,
    &__cart {
      &-active {
        fill: #92A134;
      }
    }
  }
}