@use "@/assets/styles/variables.scss" as nav;

.sale {
  width: 100%;
  padding: 20px;

  .container {
    max-width: 1440px;
    margin: 0 auto;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      font-size: nav.$font-size-title-big;
      font-weight: nav.$font-weight-bold;
      color: nav.$color-dark-6;
      display: flex;
    }

    &__btn-2 {
      text-decoration: none;
      display: none;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: nav.$content-size-gap-default;
    }

    @media (max-width: 1000px) {
      &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        gap: nav.$content-size-gap-default;
      }

      &__title {
        font-size: nav.$font-size-title-big;
      }
    }

    @media (max-width: 768px) {
      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: nav.$content-size-gap-default;
      }

      &__line {
        max-width: 20%;
      }

      &__title {
        font-size: nav.$font-size-title-medium;
      }
    }

    @media (max-width: 480px) {
      &__title {
        font-size: nav.$font-size-title-deafult;
      }

      &__list {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: nav.$content-size-gap-default;
      }

      &__btn {
        font-size: nav.$button-small-font-size;
      }
    }

    @media (max-width: 360px) {
      &__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        width: 100%;
        gap: nav.$content-size-gap-default;
      }

      &__title {
        font-size: nav.$font-size-title-smallest;
      }

      &__btn {
        display: none;
        text-decoration: none;
      }

      &__btn-2-position {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__btn-2 {
        display: flex;
        font-weight: nav.$font-weight-medium;
        font-size: nav.$button-default-font-size;
        padding: nav.$button-small-size;
        border: 1px solid nav.$color-dark-4;
        border-radius: nav.$border-radius-small;
        background-color: nav.$color-light-1;
        margin-top: 24px;
      }

      &__line {
        display: none;
      }
    }
  }
}
