@use "@/assets/styles/variables.scss" as nav;

.cart__container {
  padding: 40px;
  background-color: nav.$color-light-1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-width: 1440px;
  margin: 0 auto;
  .products__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .cart_product__container {
      display: flex;
      width: 100%;
      border: 1px solid nav.$color-dark-4;
      column-gap: 32px;
      border-radius: nav.$item-radius-big;
      .img {
        width: 200px;
        height: 180px;
        border-radius: 12px 0 0 12px;
      }
      .info__container {
        display: flex;
        flex-direction: column;
        gap: nav.$content-size-gap-large;
        padding: 32px 32px 32px 0;
        .title__box {
          display: flex;
          justify-content: space-between;
          .title {
            font-size: nav.$font-size-content-big;
            font-weight: nav.$font-weight-medium;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            scrollbar-width: none;
            width: 400px;
          }
          .delete {
          }
        }
        .price__container {
          display: flex;
          gap: nav.$content-size-gap-large;
          justify-content: space-between;
          .counter__container {
            display: flex;

            align-items: center;
            border: 1px solid nav.$color-dark-4;
            border-radius: nav.$item-radius-small;
            width: 164px;
            height: 58px;
            justify-content: space-between;
            font-size: 20px;
            font-weight: nav.$font-weight-default;
            .counter__btn {
              height: 58px;
              padding: 8px 15px;
              background-color: transparent;
              border: 1px solid nav.$color-dark-4;
              border-radius: 5px;
              font-size: 30px;
              color: nav.$color-dark-3;
            }
          }
          .price__box {
            display: flex;
            align-items: center;
            gap: nav.$content-size-gap-small;
            .price {
              font-size: nav.$font-size-title-smallest;
              font-weight: nav.$font-weight-default;
            }
            .discount__price {
              font-weight: nav.$font-weight-medium;
              font-size: nav.$font-size-content-big;
              color: nav.$color-dark-3;
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
  .order__container {
    h3 {
    }
    .total__items {
      .items {
      }
      .total__price {
      }
    }
  }
}
