@use "@/assets/styles/variables.scss" as nav;

.banner {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    &image {
        width: 100%;
        position: absolute;

    }

    &content {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        padding: 80px 40px;
        overflow: hidden;

        .title {
            font-size: 96px;
            color: white;

            span {
                display: inline-block;
            }
        }
    }
}

@media (max-width: 1440px) {
    .bannerimage {
        height: auto;
    }
}

@media (max-width: 1000px) {
    .banner {
        &image {
            height: auto;
        }

        &content {
            padding: 60px 20px 0 20px;

            .title {
                font-size: 90px;

                span {
                    display: inline;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .banner {
        &image {
            height: auto;

        }

        &__content {
            padding: 60px 20px 0 20px;

            .title {
                font-size: 68px;

                span {
                    display: inline;
                }
            }
        }
    }
}

@media (max-width: 480px) {}

@media (max-width: 360px) {}