@use "@/assets/styles/variables.scss" as nav;

.navbar__container {
  width: 100%;
  background-color: nav.$nav-bg-color;
  position: sticky;
  top: 0;
  z-index: 2;

  .navbar {
    max-width: 1440px;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    margin: 0 auto;
    z-index: 3;
    border-bottom: 1px solid nav.$color-dark-4;

    &__logo {
      display: flex;
      align-items: center;
      gap: 20px;

      .switch {
        display: inline-block;
        position: relative;
        width: 60px;
        height: 34px;
        display: flex;
        align-items: center;

        &__input {
          width: 0;
          height: 0;
          opacity: 0;
        }

        &__slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          border-radius: 34px;
          background-color: nav.$color-dark-3;
          border: 1px solid nav.$color-dark-3;

          &::before {
            content: "";
            position: absolute;
            cursor: pointer;
            left: 3px;
            bottom: 3px;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            background-color: nav.$color-light-4;
            transition: 0.4s;
            z-index: 2;
          }
        }

        .moon {
          position: absolute;
          width: 20px;
          height: 20px;
          right: 7px;
        }

        .sun {
          position: absolute;
          width: 20px;
          height: 20px;
          left: 7px;
        }
      }

      .switch__input:checked ~ .switch__slider {
        background-color: nav.$color-light-4;

        &::before {
          background-color: nav.$color-dark-3;
        }
      }

      .switch__input:checked ~ .switch__slider::before {
        transform: translateX(26px);
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: nav.$content-size-gap-little;

      .burger {
        display: none;
      }

      .discount {
        width: 151px;
        height: 32px;
        background-color: nav.$color-light-2;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        color: nav.$color-light-4;
        border: none;
        cursor: pointer;
      }

      .discount_menu {
        display: none;
        cursor: pointer;
      }

      .link__container {
        display: flex;
        gap: nav.$content-size-gap-large;
      }

      .navlink {
        color: nav.$color-dark-2;
      }
    }

    &__cart {
      display: flex;
      gap: 24px;
      .cart__container {
        position: relative;

        .length {
          position: absolute;
          left: 0px;
          top: 4px;
          background-color: nav.$color-light-2;
          color: #fff;
          font-size: 11px;
          font-weight: 600;
          // width: 23px;
          // height: 23px;
          border-radius: 50%;
          text-align: center;
          align-items: center;
          padding: 4px 7px;
        }
      }
    }

    @media (max-width: 768px) {
      padding: 10px;

      &__logo {
        .logo {
          width: 44px;
          height: 44px;
        }
      }

      &__list {
        order: 1;

        .burger {
          display: block;
        }

        .discount {
          display: none;
        }

        .discount_menu {
          display: block;
          width: 151px;
          height: 32px;
          background-color: nav.$color-light-2;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          color: nav.$color-light-4;
          margin-top: 20px;
        }

        &-link {
          position: absolute;
          background-color: nav.$color-light-5;
          width: 282px;
          right: 0;
          top: 0;
          height: 100vh;
          padding: 50px 0 0 15px;
          z-index: 39;
          flex-direction: column;

          .link__container {
            flex-direction: column;
            margin-top: 20px;
          }

          &-active {
            display: none;
          }
        }
      }

      &__cart {
        gap: nav.$content-size-gap-smallest;
        width: 100%;
        margin: 20px;
        justify-content: flex-end;

        .cart {
          width: 35px;
          height: 35px;
        }

        .heard {
          width: 35px;
          height: 35px;
        }
      }
    }

    @media (max-width: 360px) {
      &__list {
        &-link {
          width: 222px;
        }
      }
    }
  }
}
