.navbar {
  width: 100%;
  background-color: #f2f6d3;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 2;
}
.navbar__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar__logo .switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
  display: flex;
  align-items: center;
}
.navbar__logo .switch__input {
  width: 0;
  height: 0;
  opacity: 0;
}
.navbar__logo .switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 34px;
  background-color: #8b8b8b;
  border: 1px solid #8b8b8b;
}
.navbar__logo .switch__slider::before {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 3px;
  bottom: 3px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.4s;
  z-index: 2;
}
.navbar__logo .switch .moon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 7px;
}
.navbar__logo .switch .sun {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 7px;
}
.navbar__logo .switch__input:checked ~ .switch__slider {
  background-color: #fff;
}
.navbar__logo .switch__input:checked ~ .switch__slider::before {
  background-color: #8b8b8b;
}
.navbar__logo .switch__input:checked ~ .switch__slider::before {
  transform: translateX(26px);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
}
.navbar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.navbar__list .burger {
  display: none;
}
.navbar__list .discount {
  width: 151px;
  height: 32px;
  background-color: #92a234;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #fff;
}
.navbar__list .discount_menu {
  display: none;
}
.navbar__list .link__container {
  display: flex;
  gap: 32px;
}
.navbar__list .navlink {
  color: #424436;
}
.navbar__cart {
  display: flex;
  gap: 24px;
}
@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }
  .navbar__logo .logo {
    width: 44px;
    height: 44px;
  }
  .navbar__list {
    order: 1;
  }
  .navbar__list .burger {
    display: block;
  }
  .navbar__list .discount {
    display: none;
  }
  .navbar__list .discount_menu {
    display: block;
    width: 151px;
    height: 32px;
    background-color: #92a234;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #fff;
    margin-top: 20px;
  }
  .navbar__list-link {
    position: absolute;
    background-color: #f2f6d3;
    width: 282px;
    right: 0;
    top: 0;
    height: 100%;
    padding: 50px 0 0 15px;
    z-index: 39;
    flex-direction: column;
  }
  .navbar__list-link .link__container {
    flex-direction: column;
    margin-top: 20px;
  }
  .navbar__list-link-active {
    display: none;
  }
  .navbar__cart {
    gap: 10px;
    width: 100%;
    margin: 20px;
    justify-content: flex-end;
  }
  .navbar__cart .cart {
    width: 35px;
    height: 35px;
  }
  .navbar__cart .heard {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 360px) {
  .navbar__list-link {
    width: 222px;
  }
}/*# sourceMappingURL=Header.css.map */