@use "@/assets/styles/variables.scss" as nav;

.PageNotFound {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    align-items: center;

    .container {
        &__img {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .content {
            width: 100%;
            margin-top: 32px;
            text-align: center;
            max-width: 600px;
            margin: 0 auto;

            &__errorTitle {
                font-family: Montserrat;
                font-size: 64px;
                font-weight: 700;
                text-align: center;
            }

            &__errorText {
                margin-top: 16px;
                text-align: center;
                font-weight: 500;
                font-size: 20px;
                color: #8B8B8B;
                line-height: 26px;
                /* Добавлено межстрочное расстояние */
                white-space: normal;
                /* Позволяет переносу текста */
            }

            &__errorBtn {
                margin-top: 32px;
                padding: 16px 56px;
                border: none;
                border-radius: 6px;
                background: nav.$color-light-2;
                color: nav.$color-light-1;
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                transition: 50ms;
            }
        }

        @media (max-width: 768px) {
            .four {
                width: 160px;
            }

            .zero {
                width: 267px;
            }

            .content {
                width: Fill 728px;
                gap: 32px;

                &__errorTitle {
                    font-size: 56px;
                    line-height: 61.6px;
                }
            }
        }

        @media (max-width: 480px) {

            .four {
                width: 109px;
            }

            .zero {
                width: 181px;
            }

            .content {

                &__errorTitle {
                    font-size: 48px;
                    line-height: 52.8px;
                }

                &__errorText {
                    margin: 0 auto;
                    display: block;
                    font-size: 18px;
                    line-height: 23.4px;
                    max-width: 500px;
                    /* Ограничение ширины текста */

                    white-space: normal;
                    /* Позволяет переносу текста */
                    text-align: center;
                }

                &__errorBtn {
                    font-size: 18px;
                    line-height: 23.4px;
                }
            }
        }

        @media (max-width: 360px) {
            .four {
                width: 79px;
            }

            .zero {
                width: 132px;
            }

            .content {

                &__errorTitle {

                    font-size: 40px;
                    line-height: 44px;
                    text-align: center;
                }

                &__errorText {
                    font-size: 18px;
                    line-height: 23.4px;
                    text-align: center;
                }

                &__errorBtn {
                    font-size: 18px;
                    line-height: 23.4px;
                }
            }
        }
    }
}