@use "@/assets/styles/variables.scss" as nav;

.footer {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.contact {
  .title {
    font-size: nav.$font-size-title-big;
    margin-bottom: 40px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: nav.$content-size-gap-large;
    position: relative;

    &__item {
      background: nav.$color-light-5;
      border-radius: nav.$item-radius-big;
      padding: 32px 16px;
      width: 100%;

      a,
      p {
        color: nav.$color-dark-2;
        font-size: 40px;
        font-weight: nav.$footer-font-weight-bold;
      }

      h3 {
        font-size: nav.$font-size-content-big;
        color: nav.$color-dark-3;
        font-family: "Montserrat", sans-serif;
        font-weight: nav.$footer-font-weight-normal;
      }
    }
  }

  .social-icons {
    display: flex;
    gap: nav.$content-size-gap-small;
  }

  .map__styles {
    width: 100%;
    height: 360px;
    margin-top: 32px;
    border: none;
    border-radius: nav.$item-radius-big;
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 32px;
  }

  .contact-list {
    grid-template-columns: 2fr 2fr;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: nav.$font-size-title-medium;
    padding-left: 20px;
  }

  .contact-list {
    padding: 24px 20px;
    grid-template-columns: 2fr 1fr;
  }

  @media (max-width: 480px) {
    .title {
      font-size: nav.$font-size-title-deafult;
    }

    .contact-list {
      grid-template-columns: 1fr;
      gap: nav.$content-size-gap-little;
    }
  }

  @media (max-width: 360px) {
    .title {
      font-size: nav.$font-size-title-smallest;
    }

    .contact-list {
      grid-template-columns: 1fr;
      gap: nav.$content-size-gap-little;
    }
  }
}