@use "@/assets/styles/variables.scss" as nav;

.breadcrumbs {
  // padding-top: 40px;
  display: flex;
  align-items: center;

  &-item {
    display: flex;
    align-items: center;
  }

  &__line {
    width: 16px;
    border-top: 1px solid nav.$color-dark-4;
  }

  &-link {
    font-weight: nav.$font-weight-medium;
    font-size: nav.$font-size-content-small;
    color: nav.$color-dark-3;
    border-radius: nav.$border-radius-small;
    border: 1px solid nav.$color-dark-4;
    padding: nav.$button-small-size;

    // третья ссылка
    &-active {
      color: nav.$color-dark-2;
      font-weight: nav.$font-weight-medium;
    }

    &-label {
      font-weight: nav.$font-weight-medium;
      font-size: nav.$font-size-content-small;
      color: nav.$color-dark-2;
    }
  }
}
