@use "@/assets/styles/variables.scss" as nav;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: nav.$color-light-1;
  color: nav.$color-dark-2;
}

body.dark{
  background-color: nav.$color-dark-2;
  color: nav.$color-light-1;
}

.dark-text {
  color: #fff!important;
}

.bg-dark {
  background-color: #424436!important;
}

.container__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
  gap: 32px;
}