@use "@/assets/styles/variables.scss" as nav;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: nav.$color-light-1;
  color: nav.$color-dark-2;
}

body.dark {
  background-color: nav.$color-dark-2;
  color: nav.$color-light-1;
}

.dark-text {
  color: nav.$color-light-1 !important;
}

.bg-dark {
  background-color: nav.$color-dark-2 !important;
}

.bg-dark_darker {
  background-color: nav.$color-dark-8 !important;
}

.dark-border{
  .burger{
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 87%;
    border: 2px solid nav.$color-light-1 !important;
    transition: all 0.7s ease 0s;
    z-index: 99;
  }
  .span {
    width: 100%;
    border: 2px solid nav.$color-light-1 !important;
    transform: scale(1);
    position: absolute;
    margin-top: 12px;
  }
}
}


.container__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
  gap: 32px;
}