$color-light-1: #fffff1;
$color-light-2: #92a234;
$color-light-3: #f26d22;

$color-dark-1: #5e6e89;
$color-dark-2: #DDDDDD;

$color-dark-text: #424436;



// <--- Button padding --->
$button-default-size: 16px 56px;
$button-large-size: 16px 32px;


// <--- Border radius --->
$border-radius-small: 6px;
$border-radius-big: 12px;

